.footer{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--semiGray);
    padding: 15px 0;
    color: var(--semiGray);
}

.footer ul li{
    margin-left: 20px;
    list-style: none;
    display: inline-block;   
}

/*----------------media query -------------------*/
@media (max-width: 850px){
  .footer{
    display: block;
    text-align: center;
  }

  .footer ul li{
    margin-right: 10px;
  }

  .footer ul{
    margin-top: 10px;
  }
}
